<%- include('../../fragments/header.ejs') %>
<main>

    <h2>
        <b><%=__('shop.fields.list.pageTitle')%></b>
    </h2>
    <table class="tabele-list">
        <thread>
            <tr>
                <th><%= __('shop.fields.adres')%></th>
                <th><%= __('shop.fields.data')%></th>
                <th><%= __('list.actions.title') %></th>
            </tr>
        </thread>
        <tbody>
        <% for (let sklep of skleps) { %>
            <tr>
                <td><%= sklep.Adresa%></td>
                <td><%= sklep.Data_otwarcia.toISOString().split('T')[0]%></td>
                <td>
                <ul>
                    <a href="/skleps/details/<%=sklep.id_sklep%>" class="list-actions-button-details"><%= __('list.actions.details')%></a>
                    <a href="/skleps/edit/<%=sklep.id_sklep%>" class="list-actions-button-edit"> <%= __('list.actions.edit')%></a>
                    <a href="/skleps/delete/<%=sklep.id_sklep%>" onclick="function myFunction() {
                       alert('Rekord zostal usunienty');
                        }
                        myFunction()" class="list-actions-button-delete" ><%= __('list.actions.delete')%></a>

            </ul></td>
        </tr>
<%} %>
        </tbody>
    </table>

    <p><a href="/skleps/add" class="button-add"><%= __('shop.fields.list.addNew')%></a></p>
<%- include('../../fragments/footer.ejs') %>