<%- include('../../fragments/header.ejs') %>
<main>

    <h2>
        <b>Lista klientow</b>
    </h2>
        <table class="tabele-list">
  <thread>
      <tr>
          <th>Imię</th>
          <th>Nazwisko</th>
          <th>Wiek</th>
          <th>Plec</th>
          <th>Akcje</th>
      </tr>
  </thread>
            <tbody>
            <% for (let klient of klienci) { %>
            <tr>
                <td><%= klient.Imie%></td>
                <td><%= klient.Nazwisko%></td>
                <td><%= klient.Wiek%></td>
                <td><%= klient.Plec%></td>
                <td>
                    <ul>
                        <a href="/klients/details/<%=klient.id_klient%>"  class="list-actions-button-details">Szczegoly</a>
                        <a href="/klients/edit/<%=klient.id_klient%>"  class="list-actions-button-edit">Edytuj</a>
                        <a href="/klients/delete/<%=klient.id_klient%>" onclick="function myFunction() {
                       alert('Rekord zostal usunienty');
                        }
                        myFunction()" class="list-actions-button-delete" >Usuń</a>

                    </ul> </td>
            </tr>
            <% } %>
            </tbody>
        </table>
    <form class="form-buttons">
    <p><a href="/klients/add" class="button-add">Dodac nowego klienta</a></p>
    </form>
</main>
<%- include('../../fragments/footer.ejs') %>
