<%- include('../../fragments/header.ejs') %>
<main>
    <h2>
        <b>Lista Zakupow</b>
    </h2>
    <table class="tabele-list">
        <thread>
            <tr>
                <th>Imie klienta</th>
                <th>Nazwisko klienta</th>
                <th>Addresa</th>
                <th>Straczona suma</th>
                <th>Data ostatniego wizytu</th>
                <th>Data nastepnego wizytu</th>
                <th>Akcje</th>
            </tr>
        </thread>
        <tbody>
        <% for (let zakup of zakups) { %>
        <tr>
            <td><%= zakup.imie%></td>
            <td><%= zakup.nazwisko%></td>
            <td><%= zakup.Adresa%></td>
            <td><%= zakup.straczona_summa%></td>
            <td><%= zakup.data_ostatniego_wizutu_klienta.toISOString().split('T')[0]%></td>
            <td><%= zakup.data_nastepnego_wizytu.toISOString().split('T')[0]%></td>
            <td>
                <ul>
                    <a href="/zakups/details/<%=zakup.id_sklep_klient%>" class="list-actions-button-details">Szczegoly</a>
                    <a href="/zakups/edit/<%=zakup.id_sklep_klient%>" class="list-actions-button-edit"> Edytuj</a>
                    <a href="/zakups/delete/<%=zakup.id_sklep_klient%>" onclick="function myFunction() {
                       alert('Rekord zostal usunienty');
                        }
                        myFunction()" class="list-actions-button-delete" >Usuń</a>

                </ul></td>
        </tr>
        <% } %>
        </tbody>
    </table>

    <p><a href="/zakups/add" class="button-add">Dodac nowe zakupy</a></p>
</main>
<%- include('../../fragments/footer.ejs') %>