<%- include('../../fragments/header.ejs') %>
<main>
    <h2>
        <b><%=__('zakupy.fields.list.pageTitle')%></b>
    </h2>
    <table class="tabele-list">
        <thread>
            <tr>
                <th><%= __('zakupy.fields.firstName')%></th>
                <th><%= __('zakupy.fields.lastName')%></th>
                <th><%= __('zakupy.fields.adres')%></th>
                <th><%= __('zakupy.fields.straczonasumma')%></th>
                <th><%= __('zakupy.fields.dataLast')%></th>
                <th><%= __('zakupy.fields.dateNext')%></th>
                <th><%= __('list.actions.title') %></th>
            </tr>
        </thread>
        <tbody>
        <% for (let zakup of zakups) { %>
        <tr>
            <td><%= zakup.imie%></td>
            <td><%= zakup.nazwisko%></td>
            <td><%= zakup.Adresa%></td>
            <td><%= zakup.straczona_summa%></td>
            <td><%= zakup.data_ostatniego_wizutu_klienta.toISOString().split('T')[0]%></td>
            <td><%= zakup.data_nastepnego_wizytu.toISOString().split('T')[0]%></td>
            <td>
                <ul>
                    <a href="/zakups/details/<%=zakup.id_sklep_klient%>" class="list-actions-button-details"><%= __('list.actions.details')%></a>
                    <a href="/zakups/edit/<%=zakup.id_sklep_klient%>" class="list-actions-button-edit"> <%= __('list.actions.edit')%></a>
                    <a href="/zakups/delete/<%=zakup.id_sklep_klient%>" onclick="function myFunction() {
                       alert('Rekord zostal usunienty');
                        }
                        myFunction()" class="list-actions-button-delete" ><%= __('list.actions.delete')%></a>

                </ul></td>
        </tr>
        <% } %>
        </tbody>
    </table>

    <p><a href="/zakups/add" class="button-add"><%= __('zakupy.fields.list.addNew')%></a></p>
</main>
<%- include('../../fragments/footer.ejs') %>